extends layout

block content
  - var formData = data || {}

  if errors
    ul
      each error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=formData.name || ''
    )
    
    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"

      value=formData.email || ''
    )
    
    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
      )
